@font-face {
    font-family: "CheeseSmile";
    src: local("CheeseSmile"), url("../fonts/CheeseSmile/CheeseSmile.otf") format('opentype');
}

header {
    height: 8vh;
    border-bottom: 2px solid black;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-family: CheeseSmile;
}
/* https://unused-css.com/blog/css-shake-animation/ */
a.navbar-brand:hover,
a.navbar-brand:focus {
    animation: tilt-n-move-shaking .75s infinite;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(3px, 3px) rotate(3deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-3px, 3px) rotate(-3deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.nav-item {
    font-family: CheeseSmile;
}

.nav-item:hover,
.nav-item:focus {
    background-color: #C1BD74;
}

nav {
    height: 8vh;
    background-color: #FCF7EB;
    border-bottom: 2px solid black;
}

    nav .container {
        padding-left: 0px;
        padding-right: 0px;
    }

html {
  font-size: 16px;
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}


@media (max-width: 575px) {
    nav a {
        padding-left: var(--bs-gutter-x, 0.75rem);
    }

    nav button {
        margin-right: var(--bs-gutter-x, 0.75rem);
    }

    nav .container {
        padding: 0px;
        background-color: #FCF7EB;
    }

    .collapse {
        border-bottom: 2px solid black;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);

    }

    .collapsing {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
}
