a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
    nav a {
        padding-left: var(--bs-gutter-x, 0.75rem);
    }

    nav button {
        margin-right: var(--bs-gutter-x, 0.75rem);
    }

    nav .container {
        background-color: white;
        padding: 0px;
    }

    .collapse {
        border-bottom: 2px solid black;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);

    }

    .collapsing {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
}
