/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.itemsNotRanked {
    display: flex;
    justify-content: space-evenly;
}

.unrankedCell {
    width: 100px;
    height: 150px;
    display: flex;
}

unrankedCell img {
    width: 100%;
}
