/* Provide sufficient contrast against white background */

@font-face {
    font-family: "CheeseSmile";
    src: local("CheeseSmile"), url("./fonts/CheeseSmile/CheeseSmile.otf") format('opentype');
}

h1 {
    font-family: CheeseSmile;
    text-align: center;
}

header {
    height: 8vh;
    border-bottom: 2px solid black;
}

section {
    min-height: 87vh;
    background-color: #FCF7EB;
}

.raccoonSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homeSection,
.devNotesSection {
    background: url(./images/homePage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    display: flex;
    align-items: flex-start ;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.homeFlex,
.devNotesFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF7EB;
    border-right: 2px solid black;
    width: 50%;
    height: 87vh;
    padding: 2%;
}

.homeTextContainer,
.devNotesTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.links,
.buttons {
    display: flex;
    gap: 10px;
    text-align: center;
}

/* https://www.joshwcomeau.com/animation/css-transitions/ */
.links a:hover,
.buttons button:hover {
    transform: scale(1.1);
    background-color: #C1BD74;
}

.links a,
.buttons button {
    font-family: CheeseSmile;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    color: black;
    background-color: #FEFCF1;
    transition: transform 250ms;
}


.flexContainerRank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 87vh;
}

.itemsNotRanked {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.unrankedCell {
    height: 200px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.unrankedCell img, .rankCell img {
    height: 100%;
}

.rankings {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
}

.rankRow {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 4px;
}

.sTier {
    background-color: rgb(255, 127, 127);
}

.aTier {
    background-color: rgb(255, 191, 127);
}

.bTier {
    background-color: rgb(255, 223, 127);
}

.cTier {
    background-color: rgb(255, 255, 127);
}

.dTier {
    background-color: rgb(191, 255, 127);
}

.rankCell, .rowLabel {
    width: calc(100% / 5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.25px solid black;
}

.reset {
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    color: black;
    background-color: #FEFCF1;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    background-color: #FCF7EB;
}

footer p {
    margin-bottom: 0px;
}

footer a,
.devNotesTextContainer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover,
footer a:focus,
.devNotesTextContainer a:hover,
.devNotesTextContainer a:focus {
    color: black;
    text-decoration: underline #C1BD74;
    text-decoration-thickness: 4px;
}

.swal2-html-container {
    text-align: left;
}

/* https://codepen.io/petrey/pen/bpKqJv */
.loadingIcon {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes twist-up {
    to {
        transform: rotateX(360deg);
    }
}

@media (max-width: 800px) {
    .rankings {
        width: 100%;
    }

    .homeSection,
    .devNotesSection {
        background-position: 67% 70%;
    }

}

@media (max-width: 550px) {
    .rankCell img {
        height: 75%;
    }
}