/* Provide sufficient contrast against white background */


header {
    height: 7vh;
    border-bottom: 2px solid black;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    min-height: 88vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homeTextContainer,
.devNotesTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF7EB;
    border: 2px solid black;
    width: fit-content;
    padding: 2%;
}

.homeSection,
.devNotesSection {
    background: url(./images/homePage.jpg);
    background-repeat: repeat;
}

.homeFlex,
.devNotesFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
}

.links,
.buttons {
    display: flex;
    gap: 10px;
}

.links a,
.buttons button {
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    color: black;
    background-color: #FEFCF1;
}


.flexContainerRank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.itemsNotRanked {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.unrankedCell {
    height: 200px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.unrankedCell img, .rankCell img {
    height: 100%;
}

.rankings {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
}

.rankRow {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 4px;
}

.sTier {
    background-color: rgb(255, 127, 127);
}

.aTier {
    background-color: rgb(255, 191, 127);
}

.bTier {
    background-color: rgb(255, 223, 127);
}

.cTier {
    background-color: rgb(255, 255, 127);
}

.dTier {
    background-color: rgb(191, 255, 127);
}

.rankCell, .rowLabel {
    width: calc(100% / 5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    color: black;
    background-color: #FEFCF1;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}

footer p {
    margin-bottom: 0px;
}

footer a,
.devNotesTextContainer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}